body{
    padding: 200px;
    text-align: center;
    background: linear-gradient(90deg, #1C1C1C, #363636);
    background-size: 400% 400%;
    animation: moving 2.5s infinite ease-in-out;
}
@keyframes moving{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}
/*o primeiro texto*/
span{
    color: #fff;
    font-family: Bodoni MT;
    font-size: 50px;
    font-weight: 700;
}
/*botao*/
a{
    color: #000;
    font-family: Bodoni MT;
    font-size: 40px;
}

/* Agora, colocando um degradê */
.gradient {
  /* Primeiro passo: definir um degradê como fundo */
  background-image: linear-gradient(to bottom, rebeccapurple, steelblue, turquoise);
  
  /* Segundo passo: apagar do fundo tudo que não estiver imediatamente atrás de texto */
  background-clip: text;
  -webkit-background-clip: text; /* Alguns navegadores precisam do prefixo */

  /* Terceiro passo: apagar o texto, deixando apenas o fundo atrás dele */
  -webkit-text-fill-color: transparent;

  /* Cor que contraste com o degradê, caso o navegador não suporte `background-clip: text` */
  color: black;
  
}

.imagem {
    max-width: 100%;
    max-height: 100%;
}